body{
  position: relative;
  /* overflow-x: hidden; */
}
.tabs-all{
  /* position: absolute; */
  width: 1200px;
  height: 765px;
  left: 78px;
  top: 108px;
}
#tab-1{
  
  width: 235px;
  height: 175px;
  /* left: 98px;
  top: 140px; */
  border-radius: 25px 25px 0px 0px;
  padding: 24px;
}
#tab-2{
  
  width: 235px;
  height: 171px;
  /* left: 432px;
  top: 140px; */
  
  border-radius: 25px 25px 0px 0px;
  padding: 24px;
}
#tab-3{
 
  width: 235px;
  height: 165px;
  /* left: 732px;
  top: 140px; */
 
  border-radius: 25px 25px 0px 0px;
  padding: 24px;
}
#tab-4{
  
  width: 235px;
  height: 165px;
  /* left: 1032px;
  top: 140px; */
 
  border-radius: 25px 25px 0px 0px;
  padding: 24px;
}
#img-edit{
  border-radius: 50%;
  
  margin-left: 37%;
  padding: 8px;
  background-color: #F4F4F4;
}
.icon-size{
      /* width: 235px; */
      height: 113px;
      /* left: 132px; */
      /* top: 140px; */
      background: #FFFFFF;
      box-shadow: 0px 0px 27px rgb(0 0 0 / 5%);
      border-radius: 10px;
}
.style-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #181818;
}
.w3-container.city.bg-zinc-100{
  width: 1200px;
  height: 500px;
  /* left: 98px; */
  /* top: 308px; */
  background: #F4F4F4;
  border-radius: 0px 0px 25px 25px;
}
#text-style{
  width: 340px;
  height: 100px;
  left: 148px;
  top: 359px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #000000;
}
.text-list{
  margin-top: 40px;
  /* margin-left: 20px; */
  /* width: 222px; */
  height: 160px;
  left: 137px;
  top: 479px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  list-style: inside;
}
.btn-primary {
  background-color: #0ea5e9;
}
.btn-primary:hover {
  background-color: #0369a1;
}
.button-style{
  width: 120px;
  height: 50px;
  background: #F4B840;
  border-radius: 5px;
}
.sale-off{
  width: 712px;
  height: 80px;
  /* left: 536px; */
  /* top: 348px; */
  border: 3px solid #FFFFFF;
  border-radius: 18px;
}
.text-saleoff{
  width: 25%;
  /* height: 80px; */
  background: #FFFFFF;
  border-radius: 18px 0px 0px 18px;
  margin: -2px;
}
#text-off{
  /* width: 132px;
  height: 54px; */
  /* left: 576px;
  top: 361px; */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */
  color: #F4B840;
  text-align: center;
  padding-top: 10px;
}
#offer{
  width: 537px;
  /* height: 38px; */
  left: 760px;
  top: 369px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
  text-align: center;
  padding-top: 18px;
}
.flex.justify-center{
  width: 224px;
  height: 320px;
  /* left: 536px; */
  /* top: 448px; */
  background: #FFFFFF;
  margin-top: 29px;
  border-radius: 18px;
}
h5.text-fontsize {
  /* width: 165px; */
  /* height: 21px; */
  left: 565px;
  top: 682px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
p.text-usd{
  height: 24px;
  left: 589px;
  top: 710px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
p.text-usd span{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;
  text-decoration-line: line-through;

  color: #727272;
  padding-left: 4px;
}
.gallery{
  /* position: absolute; */
  width: 1200px;
  height: 765px;
  left: 98px;
  top: 973px;
}
#text-gallery{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 68px;
  text-align: center;
  text-transform: uppercase;
  color: #121212;
}
#slider-1{
  
  padding-top: 25px;
}
.img-gallery-px{
  margin-bottom: 12.25px;
}
#slider-2{
  
  padding-top: 25px;
}
.responsive-mobile{
  display: none;
}
/* mobile web */
@media screen and (max-width:400px) {
  .left{
    width: 0px;
  }
  .right{
    width: 0px;
  }
  .responsive-display{
      display: none ;
      visibility: hidden ;
  }
  .responsive-mobile{
      display: block;
  }
  .item-modile{
      width: 368px;
      height: 80px;
      left: 11px;
      top: 10px;

      background: #FFFFFF;
      box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.05);
      border-radius: 18px;
  }
  .tabs-mobile {
      /* position: absolute; */
      margin-top: 10px;
      width: 388px;
      height: 100px;
      /* left: 2px; */
      /* top: 830px; */
      background: #F4F4F4;
      border-radius: 18px;
  }
  .tabs-1 {
      position: absolute;
      width: 368px;
      height: 80px;
      left: 9px;
      top: 19px;
      background: #FFFFFF;
      box-shadow: 0px 0px 27px rgb(0 0 0 / 5%);
      border-radius: 18px;
      display: flex;
  }
  .tabs-2 {
    /* position: absolute; */
    margin-left: 9px;
    width: 368px;
    height: 80px;
    left: 9px;
    top: 131px;
    background: #FFFFFF;
    box-shadow: 0px 0px 27px rgb(0 0 0 / 5%);
    border-radius: 18px;
    display: flex;
}
  .next{
    position: absolute;
    width: 368px;
    height: 80px;
    left: 9px;
    top: 830px;
    background: #FFFFFF;
    box-shadow: 0px 0px 27px rgb(0 0 0 / 5%);
    border-radius: 18px;
    display: flex;
  }
  .tabs-3 {
    margin-left: 9px;
    /* position: absolute; */
    width: 368px;
    height: 80px;
    left: 9px;
    top: 241px;
    background: #FFFFFF;
    box-shadow: 0px 0px 27px rgb(0 0 0 / 5%);
    border-radius: 18px;
    display: flex;
}
.tabs-4 {
  /* position: absolute; */
  margin-left: 9px;
  width: 368px;
  height: 80px;
  left: 9px;
  top: 350px;
  background: #FFFFFF;
  box-shadow: 0px 0px 27px rgb(0 0 0 / 5%);
  border-radius: 18px;
  display: flex;
}
  img.edit-mobile-img {
      margin: 12px;
      width: 27px;
      height: 27px;
      /* position: absolute; */
      /* width: 27px; */
      /* height: 27px; */
      left: 52px;
      top: 32px;
      
  }
  .boder-img-tabs {
      margin-left: 40px;
      margin-top: 14px;
      margin-bottom: 17px;
  }
  p.mobile-text-tabs {
      margin-left: 20px;
      margin-top: 9px;
      width: 78px;
      height: 32px;
      /* left: 111px; */
      /* top: 32px; */
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 21px;
      /* line-height: 32px; */
      color: #181818;
  }
  /* hide and show */
  .show-hide {
    width: 388px;
    height: 700px;
    background: #F4F4F4;
    border-radius: 0px 0px 25px 25px;
  }
  #text-style-mobile {
    margin-bottom: 5px;
    padding-top: 30px;
    padding-left: 16px;
    width: 337px;
    height: 59px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
  }
  .text-list-mobile-1{
    margin-left: 20px;
    width: 190px;
    height: 64px;
    left: 21px;
    top: 199px;
    font-family: 'Poppins';
    list-style: inside;
    font-weight: 600;
    font-size: 13px;
    line-height: 32px;
    color: #000000;
  }
  ul.text-list-mobile-2 {
    width: 170px;
    height: 64px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 13px;
    line-height: 32px;
    color: #000000;
    list-style: inside;
  }
  .sale-off-mobile{
    padding-left: 22px;
    width: 328px;
    margin-left: 30px;
    height: 90px;
    /* left: 536px; */
    /* top: 348px; */
    border: 3px solid #FFFFFF;
    border-radius: 18px;
  }
  .text-saleoff-mobile{
    border-radius: 18px 0px 0px 18px;
    margin: -2px;
  }
  #offer-mobile{
    width: 175px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding: 15px;
  }
  .flex.justify-center.mobile{
    width: 165px;
    height: 260px;
    left: 21px;
    top: 420px;
    background: #FFFFFF;
    border-radius: 18px;
    margin-top: 0px;
  }
  h5.text-fontsize-mobile{
    width: 141.36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }
  .border-radius-box{
    border-radius: 18px 18px 0px 0px;
  }
  #text-gallery-mobile{
    width: 390px;
    height: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #121212;
  }
  /* slide gallery */
  /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .fade:not(.show) {
    opacity: 1;
  }
  #px-mobile-gallery{
    width: 388px;
    height: 1125.96px;
    margin-top: 115px;
  }
}

/* screen display*/

@media screen and (min-width: 1366px) {
  body{
    overflow-x: hidden;
  }
  .left{
       width: 52px;
  }
}
@media screen and (min-width: 1440px) {
 .left{
      width: 98px ;
  }
  body{
    overflow-x: hidden;
  }
  .right{
      width: 142px;
  }
  
}

@media screen and (min-width: 1600px) {
  body{
    overflow-x: hidden;
  }
  .left{
      width: 178px;
  }
}


@media screen and (min-width: 1920px) {
  body{
    overflow-x: hidden;
  }
  .left{
      width: 338px !important;
  }
  /* .center{
      width: 85%;
  }
  .right{
      width: 13%;
  } */
}
 /* Slideshow container */
 .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .fade:not(.show) {
    opacity: 1;
  }